

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title></title>


</head>
<body>
  <div class="container">

    <nav>
      <ul>
        <li><a  class="logo">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShN0nuLT7HIpIANuDi6wbMKpeuCgZsl2PtAA&usqp=CAU" *ngIf="display">
          <img src="https://cdn-icons-png.flaticon.com/512/622/622848.png" *ngIf="!display">
          <span class="nav-item">{{Acc}}</span>
          <p *ngIf="display">(Admin)</p>
          <p *ngIf="!display" style="margin-right: 25px;">(Employee)</p>

        </a></li>
        <li><a >
          <div class="subnav">
          <i class="fas fa-menorah"></i>
          <span class="nav-item">Employee Details</span>
          <i class="fa fa-caret-down"></i>
          <div class ="subnavcontent">
          <ul>
            <ul >
              <li><a  routerLink="/employeeDetails">

                <span class="nav-items"> Employee List</span>

              </a></li>
            </ul>
            <ul *ngIf="display">
              <li><a routerLink="/editEmployee">

                <span class="nav-items" >Edit Employees</span>

              </a></li>
            </ul>



          </ul></div></div>

        </a></li>
        <li><a >
          <div class="subnav">
          <i class="fas fa-menorah"></i>
          <span class="nav-item">Leave Request</span>
          <i class="fa fa-caret-down"></i>
          <div class ="subnavcontent">
          <ul>
            <ul *ngIf="!display" >
              <li><a  routerLink="/leavereq">

                <span class="nav-items"> Add Leave Request</span>

              </a></li>
            </ul>
            <ul *ngIf="display">
              <li><a routerLink="/manageLeaveReq">

                <span class="nav-items" >Manage Leave request</span>

              </a></li>
            </ul>



          </ul></div></div>

        </a></li>


        <li><a href="#" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <!-- <span class="nav-item">Log out</span> -->
        </a></li>
      </ul>
    </nav>
  </div></body></html>
