

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background: rgb(226, 226, 226);
  }
  nav{
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    /* width: 280px; */
    background: #fff;
    overflow: hidden;
    transition: 1s;
  }
  nav:hover{
    width: 280px;
    transition: 1s;
  }
  .logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
  }
  
  .logo img{
    width:                   45px;
    height: 45px;
    border-radius: 50%;
  }
  .logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }
  a{
    position: relative;
    width: 250px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
    text-decoration: none;
  }
  nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
  }
  .nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
    display: flex;
    padding: 10px;
  }
  .nav-items{
    position: relative;
  
    margin-left: 60px;
    display: flex;
    text-align: center;
    font-size: 14px;
    font-display:initial;
  }
  .nav-items:hover{
    
    background: #eee;
  }
  
  
  a:hover{
    background: #eee;
  }
  a:hover i{
    color: #34AF6D;
    transition: 0.5s;
  }
  .logout{
    position: absolute;
    bottom: 0;
  }
  
  .container{
    display: flex;
    width: max-content;
  }
  
  /* MAin Section */
  .main{
    position: relative;
    padding: 20px;
    width:fit-content;
  }
  .main-top{
    display: flex;
    width: 100%;
  }
  .main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
  }
  .main .users{
    display: flex;
    width: 100%;
  }
  .users .card{
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .users .card img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .users .card h4{
    text-transform: uppercase;
  }
  .users .card p{
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .users table{
    margin:  auto;
  }
  .users .per span{
    padding: 5px;
    border-radius: 10px;
    background: rgb(223, 223, 223);
  }
  .users td{
    font-size: 14px;
    padding-right: 15px;
  }
  .users .card button{
    width: 100%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #4AD489;
  }
  .users .card button:hover{
    background: #4AD489;
    color: #fff;
    transition: 0.5s;
  }
  
  /*Attendance List serction  */
  .attendance{
    margin-top: 5px;
    
    text-transform: capitalize;
    position:sticky
  }
  .attendance-list{
    width: 250%;
    text-align: center;
    height: 70%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  .table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  .table th,
  .table td{
    padding: 20px 15px;
  }
  .table tbody tr{
    border-bottom: 1px solid #ddd;
  }
  .table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
  }
  .table tbody tr.active{
    font-weight: bold;
    color: #4AD489;
  }
  /* .table tbody tr:last-of-type{
    /* border-bottom: 2px solid #4AD489; */
  
  .table button{
    padding: 6px 20px;
    border-radius: 104px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 3px;
  
    background: transparent;
    border: 1px solid #4AD489;
  }
  .table button:hover{
    background: #4AD489;
    color: #fff;
    transition: 0.5rem;
  }
  .subnavcontent{
    display: none;
  }
  .subnav:hover .subnavcontent{
    display: block;
    transition: 1s;
    overflow: hidden;
  }
  
  
  
  
  
  
  
  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    bottom: 303px;
    right: 28px;
    left:35%;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
  
  
  left:150px;
    border: 3px solid #f1f1f1;
  bottom: 2px;
    width: 400px;position: absolute;;
  }
  
  /* Add styles to the form container */
  .form-container {
    width: 400px;
    padding: 10px;
    background-color: white;
    position:relative;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .myForm:hover{
    display:none;
  }
  .drop{
    width: max-content;
  
  }
  form input {
    font-family: inherit;
    width: 50%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4A4A4A;
    text-indent: 40px;
    text-align: center;
  }
  .wi{
    width: fit-content;
  }
  .tdd{
    width: max-content;
  
  }
  .trr{
    width: max-content;
  }